<IfModule mod_mime.c>
AddType application/x-httpd-php .php
AddType application/x-httpd-php .htm
AddType application/x-httpd-php .html
AddType application/x-httpd-php .tpl
php_flag output_buffering on
</IfModule>